<!-- Navbar -->
<div class="mainNavbar">
    <nav class="navbar">
        <div class="container">
   {{!--         <div class="navbar-header">
                <button class="navbar-toggler" data-toggle="open-navbar1">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="#">
                    <h4>Model<span>Bricks</span></h4>
                </a> 
            </div>      --}}
       

            <div class="navbar-menu" id="open-navbar1">
                <ul class="navbar-nav">
                    <li><a href="/">UConn Health</a></li>                 
                </ul>
            </div>
        </div>
    </nav>
</div>
