<!-- Info pages -->
<div class="infoPages">
  <h2 class="pageHeading">About us</h2>

  <div class="pageContent">
    <h3 class="pageSubheading"> How to cite ModelBricks </h3>

    Ann E Cowan, Pedro Mendes, Michael L Blinov (2019) ModelBricks - Modules for reproducible modeling improving model
    annotation and provenance. NPJ Syst Biol Appl. 2019 Oct 8;5:37. doi: 10.1038/s41540-019-0114-3. eCollection 2019 
    <a href="https://pubmed.ncbi.nlm.nih.gov/31602314/">PMID:31602314</a>



    <h3 class="pageSubheading"> Contact</h3>

    To contribute and discuss the project please use this email address:
    [modelbricks@googlegroups.com](mailto:modelbricks@googlegroups.com)

    <h3 class="pageSubheading"> Related projects</h3>

    <b><a href="http://sbgnbricks.org">SBGN Bricks </a></b> is a project related to visualization of recurring network
    motifs.

    <h3 class="pageSubheading">Project Team</h3>

    <div class="pageContentCenter">
      <table>
        <tr>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/michael.jpg" height="120" /></p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/ann.jpg" height="120" /></p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/PedroMendes.jpeg" height="120" /> </p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"> </p>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td style="width: 200px;">
            <p style="margin:4px;"><strong>Michael Blinov</strong></p>
            <p style="margin:4px; line-height:100%;">
              <font size="2">UConn School of Medicine, Farmington, USA</font>
            </p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"><strong>Ann Cowan</strong></p>
            <p style="margin:4px; line-height:100%;">
              <font size="2">UConn School of Medicine, Farmington, USA</font>
            </p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"><strong>Pedro Mendes</strong></p>
            <p style="margin:4px; line-height:100%;">
              <font size="2">UConn School of Medicine, Farmington, USA</font> </p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"> </p>
          </td>
        </tr>
      </table>
</div>
      <h3 class="pageSubheading"> Contributors</h3>
<div class="pageContentCenter">

      <table>
        <tr>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/saksham.jpeg" height="120" /></p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/JackAlbanese.jpg" height="120" /></p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/MariadelCarmenHeredia.jpg" height="120" /> </p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"> </p>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td style="width: 200px;">
            <p style="margin:4px;"><strong>Saksham Raghuvanshi</strong></p>
            <p style="margin:4px; line-height:100%;">
              <font size="2">JSSATE, Noida, India</font>
            </p>
          </td>

          <td style="width: 200px;">
            <p style="margin:4px;">
            <strong>John Albanese</strong></p>
            <p style="margin:4px; line-height:100%;">
              <font size="2">UConn School of Medicine, Farmington, USA</font>
              </p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"><strong>Maria del Carmen Heredia</strong></p>
            <p style="margin:4px; line-height:100%;">
              <font size="2">UConn, Storrs, USA</font>
              </p>
          </td>
          <td style="width: 200px;">
            <p style="margin:4px;"> </p>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
