<!-- section 1 -->
<div class="section1">
    <h2>About Page</h2>
</div>


<h3> How to cite ModelBricks </h3>

Ann E Cowan, Pedro Mendes, Michael L Blinov (2019) ModelBricks - Modules for reproducible modeling improving model annotation and provenance. Available at http://ModelBricks.org


<h3> Contact</h3>

To contribute and discuss the project please use this email address: [modelbricks@googlegroups.com](mailto:modelbricks@googlegroups.com)  

<h3> Related projects</h3>

<b><a href="http://sbgnbricks.org">SBGN Bricks </a></b> is a project related to visualization of recurring network motifs.

<h3>Project Team</h3>

<table>
<tr>
<td style="width: 200px;"><p style="margin:4px;"><br /><img src="/images/team/MichaelBlinov.jpg" height="120"/></p></td>
<td style="width: 200px;"><p style="margin:4px;"><br /><img src="/images/team/ann.png" height="120"/></p></td>
<td style="width: 200px;"><p style="margin:4px;"> </p></td>
<td style="width: 200px;"><p style="margin:4px;"> </p></td>
</tr>
</table>

<table>
<tr>
<td style="width: 200px;"><p style="margin:4px;"><strong>Michael Blinov</strong></p><p style="margin:4px; line-height:100%;"><font size="2">UConn School of Medicine, Farmington, USA</font></p></td>
<td style="width: 200px;"><p style="margin:4px;"><strong>Ann Cowan</strong></p><p style="margin:4px; line-height:100%;"><font size="2">UConn School of Medicine, Farmington, USA</font></p></td>
<td style="width: 200px;"><p style="margin:4px;"> </p></td>
<td style="width: 200px;"><p style="margin:4px;"> </p></td>
</tr>
</table>

<h3> Contributors</h3>

<table>
<tr>
<td style="width: 200px;"><p style="margin:4px;"><br /><img src="/images/team/MariaHeredia.jpg" height="120"/></p></td>
<td style="width: 200px;"><p style="margin:4px;"><br /><img src="/images/team/JackAlbanese.png" height="120"/></p></td>
<td style="width: 200px;"><p style="margin:4px;"> </p></td>
 <td style="width: 200px;"><p style="margin:4px;"> </p></td>
</tr>
</table>

<table>
<tr>
<td style="width: 200px;"><p style="margin:4px;"><strong>Maria del Carmen Heredia</strong></p><p style="margin:4px; line-height:100%;"><font size="2">UConn, Storrs, USA</font></p></td>
<td style="width: 200px;"><p style="margin:4px;"><strong>John Albanese</strong></p><p style="margin:4px; line-height:100%;"><font size="2">Trinity College, <br /> Hartford, USA</font></p></td>
  <td style="width: 200px;"><p style="margin:4px;"> </p></td>
  <td style="width: 200px;"><p style="margin:4px;"> </p></td>
</tr>
</table>
