<div class="googleSearch-wrap">
    <h2 class="gcs-heading">Search Bio-Models</h2>

    <div class="googleSearch">
        <script async src="https://cse.google.com/cse.js?cx=004292938533171825441:o5jh7rowaka"></script>
        <div class="gcse-search"></div>
    </div>

</div>