<div class="infoPages">

  <div class="pageContent">
  
  <h3 class="pageSubheading">Welcome to the ModelBricks project</h3>

<table>
<tr><td>
<td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/bricks.png" height="150"/></p>
</td>
<td>
<p style="margin:4px;"> Many computational models in biology are built and intended for "single-use"; 
 the assumptions and description of model elements can be found in the correspong paper only. 
 Expanding models to new and more complex situations is a usually very non-trivial. 
 As a result, new models are almost always created anew, repeating literature searches for kinetic parameters, initial conditions and modeling specifics. 
 It is akin to building a brick house starting with a pile of clay. 
 Here we present tghe database of <b>ModelBricks - well-annotated, reusable component mechanisms that can be assembled into 
        fully annotated mathematical models for cell biology</b>.
</td></tr>
</table>

<h3 class="pageSubheading">Each ModelBrick contains</h3>

<table>
<tr><td>
<p style="margin:4px;">
1. Sets of <b>molecules (species)</b> uniquely identified with universal identifiers, their initial concentrations and transport properties.
</p>
</td></tr>
<tr><td>
<p style="margin:4px;">
2. <b>Reaction(s) (changes in state)</b> identified by known biochemical mechanisms and defined by a flux reaction with parameters for 
forward and reverse rates (<b>kf</b> and <b>kr</b>). 
Flux terms can be simple mass action kinetics or complex functions.
</p>
</td></tr>
<tr><td>
<p style="margin:4px;">
3. An identified cellular <b>Compartment(s)</b> where the reaction occurs and the species reside.
</p>
</td></tr>
<tr><td>
<p style="margin:4px;">
4. <b>A Publication ID</b> or other identifier of the author and peer-review status for the original model from which a ModelBrick is derived
</p>
</td></tr>
</table>

<br>
<p style="margin:4px;"><br /><img src="/images/ModelBrickStructure.jpg" height="450"/></p>
</br>

<h3 class="pageSubheading">ModelBricks can be</h3>

<table>
<tr><td>
<p style="margin:4px;">
1. Downloaded in mulltiple formats, such as SBML or VCML formats 
</p>
</td></tr>
<tr><td>
<p style="margin:4px;">
2. Inserted into an existing SBML compatible model including all annotations and defined parameters.
</p>
</td></tr>
<tr><td>
<p style="margin:4px;">
3.Created from existing models and submitted for inclusion in the repository.
</p>
</td></tr>
</table>
     
