<div class="infoPages">
  <h2 class="pageHeading">ModelBricks</h2>

  <div class="pageContent">
<table>
        <tr>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/bricks.png" height="250"/></p>
          </td>
          <td>
            <p style="margin:4px;"> 
        Well-annotated, reusable component mechanisms that can be assembled into 
        fully annotated mathematical models for cell biology 
            </p>
          </td>
        </tr>
   </table>

<h3 class="pageSubheading">Each ModelBrick contains</h3>
<ol>
<li>Sets of molecules (species) uniquely identified with universal identifiers, their initial concentrations and transport properties.
Reaction(s) (changes in state) identified by known biochemical mechanisms and defined by a flux reaction with parameters for forward and reverse rates (kf and kr).  Flux terms can be simple mass action kinetics or complex functions.
<li>An identified cellular Compartment(s) where the reaction occurs and the species reside.
<li>A Publication ID or other identifier of the author and peer-review status for the original model from which a ModelBrick is derived
</ol>
<br>
<p style="margin:4px;"><br /><img src="/images/ModelBrickStructure.png"/></p>
</br>
<h3 class="pageSubheading">ModelBricks can be</h3>

<ol>
<li>Downloaded as SBML or VCML formats for addition
<li>Inserted into an existing SBML compatible model including all annotations and defined parameters.
<li>Created from existing models and submitted for inclusion in the repository
</ol>

     
