<div class="infoPages">
    <h2 class="pageHeading">Home Page</h2>
</div>

<!-- section 2 -->
<div class="section2">
    <p>VCML to JSON Data here --> <a href="/json">JSON output</a></p>
    <p>JSON served on a webpage here --> <a href="/data">Data page</a></p>
</div>