<div class="infoPages">
    <h2 class="pageHeading"><it>ModelBricks</h2>
</div>

<table>
        <tr>
          <td style="width: 200px;">
            <p style="margin:4px;"><br /><img src="/images/bricks.png"/></p>
          </td>
          <td>
            <p style="margin:4px;"> <h2 class="pageHeading"><it>ModelBricks</it></h2>
        Well-annotated, reusable component mechanisms that can be assembled into 
        fully annotated mathematical models for cell biology 
            </p>
          </td>
        </tr>
   </table>

     
