<!-- section 1 -->
<div class="section1">
    <h2>Home Page</h2>
    <p>Github repo is automatically connected to Heroku</p>
</div>

<!-- section 2 -->
<div class="section2">
    <p>VCML to JSON Data here --> <a href="/json">JSON output</a></p>
    <p>JSON served on a webpage here --> <a href="/data">Data page</a></p>
</div>